<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>servlet.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeProduitType</servlet-name>
        <servlet-class>servlet.ListeProduitType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recette</servlet-name>
        <servlet-class>servlet.Recette</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autre</servlet-name>
        <servlet-class>servlet.Autre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormulaireCommande</servlet-name>
        <servlet-class>servlet.FormulaireCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoixTable</servlet-name>
        <servlet-class>servlet.ChoixTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitChoixTable</servlet-name>
        <servlet-class>servlet.TraitChoixTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitCommande</servlet-name>
        <servlet-class>servlet.TraitCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrixRevient</servlet-name>
        <servlet-class>servlet.PrixRevient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autres</servlet-name>
        <servlet-class>servlet.Autres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeRecette</servlet-name>
        <servlet-class>servlet.ListeRecette</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCommande</servlet-name>
        <servlet-class>servlet.ListeCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidationCommande</servlet-name>
        <servlet-class>servlet.ValidationCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servlet.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeIngredient</servlet-name>
        <servlet-class>servlet.ListeIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDateIngredient</servlet-name>
        <servlet-class>servlet.InsertDateIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredientDate</servlet-name>
        <servlet-class>servlet.IngredientDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResteIngredient</servlet-name>
        <servlet-class>servlet.ResteIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResteStock</servlet-name>
        <servlet-class>servlet.ResteStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitStock</servlet-name>
        <servlet-class>servlet.TraitStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitListPaie</servlet-name>
        <servlet-class>servlet.TraitListPaie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FomListPayement</servlet-name>
        <servlet-class>servlet.FomListPayement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeNonPayer</servlet-name>
        <servlet-class>servlet.CommandeNonPayer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormulaireCommande</servlet-name>
        <url-pattern>/commander</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoixTable</servlet-name>
        <url-pattern>/ChoixTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitChoixTable</servlet-name>
        <url-pattern>/TraitChoixTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitCommande</servlet-name>
        <url-pattern>/TraitCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrixRevient</servlet-name>
        <url-pattern>/PrixRevient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeRecette</servlet-name>
        <url-pattern>/listeRecette</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autres</servlet-name>
        <url-pattern>/Autres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCommande</servlet-name>
        <url-pattern>/listecommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autre</servlet-name>
        <url-pattern>/Autre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeProduitType</servlet-name>
        <url-pattern>/ListeProduitType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recette</servlet-name>
        <url-pattern>/Recette</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidationCommande</servlet-name>
        <url-pattern>/ValidationCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeIngredient</servlet-name>
        <url-pattern>/ListeIngredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDateIngredient</servlet-name>
        <url-pattern>/InsertDateIngredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredientDate</servlet-name>
        <url-pattern>/IngredientDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResteIngredient</servlet-name>
        <url-pattern>/ResteIngredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResteStock</servlet-name>
        <url-pattern>/ResteStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitStock</servlet-name>
        <url-pattern>/TraitStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitListPaie</servlet-name>
        <url-pattern>/TraitListPaie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FomListPayement</servlet-name>
        <url-pattern>/FomListPayement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeNonPayer</servlet-name>
        <url-pattern>/CommandeNonPayer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
